<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <ul>
      <li>{{type}}</li>
      <li>{{level}}</li>
      <li>{{range}}</li>
      <li>{{duration}}</li>
  </ul>  
  <p>{{description}}</p>
</body>
</html>